#include<stdio.h>

void towerOfHanoi(int n, char cotA, char cotC, char cotB){
	if (n==1){
		printf ("%c-->%c\n", cotA, cotC);
	}else {
		towerOfHanoi(n-1, cotA, cotB, cotC);
		printf("%c-->%c\n", cotA, cotC );
		towerOfHanoi(n-1, cotC, cotB, cotA);
	}
}


int main()
{
	int n;
	printf("Number of dishes:"); scanf("%d", &n);
	towerOfHanoi(n, 'A','C','B');
}
